
 /* Allgemein: Normalisieren */ 
    h1, h2. h3, h4, h5, h6 {
       margin: 0px;
       padding: 0px;
    }
    
 /* Seite: Layout */
    html, body, #seite {
       height:100%;
       overflow-x: hidden;
       margin: 0px;
       padding: 0px;
    }
    #seite {
       position: relative; 
       clear:left;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
       height: 100%;
       display: block;
       background-color: #cccccc;
    }
    #seite > div {
       width: 100%;
       height: 100%;
       background-color: #ffffff;
    }